
.custom-navbar-font,h1,h3,h4,p{
	font-family:"Disket-Mono-Regular", monospace;
}
.navbar{
	background:linear-gradient(90deg,#fb5607,#006d77);
}

.container-fluid1
{
	height: 1500px;
	background:#44969D;
	
}

.custom-text-color
{
	color:aliceblue;
}



.custom-fakeimg1

{
	width:400px;
	height: 400px;
	border-radius: 10px;
	position: absolute;
	top:40px;
	left:40px;
	
	
}

