
.custom-navbar-font,h1,h3,h4,p{
	font-family:"Disket-Mono-Regular", monospace;
}
.navbar{
	background:linear-gradient(90deg,#fb5607,#006d77);
}

.container-fluid1
{
	height: 1500px;
	background:#44969D;
	
}

.custom-text-color
{
	color:aliceblue;
}



.custom-fakeimg1

{
	width:300px;
	height: 300px;
	border-radius: 12px;
	position:relative;
	top:60px;
	
	
	
	
}

