
.custom-navbar-font,h1,h3,h4,p{
	font-family:"Disket-Mono-Regular", monospace;
}


.highlight-text
{
	background:#006d77;
}



.navbar{
	background:linear-gradient(90deg,#fb5607,#006d77);
}


.container-fluid1
{
	min-height: 90vh;
	background:linear-gradient(180deg,#44969D,#00223E);
}

	

.custom-text-color
{
	color:aliceblue;
	
}



.custom-fakeimg1

{
	width:300px;
	height: 300px;
	border-radius: 12px;
	position:relative;
	top:30%;

}
.animate-fakeimg1
{
	
	position: relative;
	animation: moveUpDown 3s infinite;
}

@keyframes moveUpDown
{
	0%, 100% 
	{
		transform: translateY(0);
	}
	
	50%
	{
		transform: translateY(-20px);
	}
}

.overlay-text {
      position: absolute;
      top: 73%;
      left: 53%;
      transform: translate(-60%,-60%);
      color: #fff; /* Text color */
      font-size: 35px;
       
    }

.container-fluid2
{
	min-height: 70vh;
	background:linear-gradient(180deg, #FFFFFF,#FFA17F);
}


.textlikepara{
	text-align:justify;
	max-width: 600px;
	margin:0 auto;
		
}

.borderd-div
{
	border:2px solid black;
	padding:50px;
	border-radius:5px;
}

.custom-text1
{
	font-size:30px;
	position:relative;
	top:15%;
	left:5%;
	
}



.custom-fakeimg2
{
	height:50px;
	width:200px;
	background:#000000;
	border-radius: 10px;
	border: 2px solid #FFFF;
	
}

.custom-text2
{
	position:relative;
	top:70%;
	left:10%;
	color:#FFF;
	transform: translate(-20%,-20%);
	
	
}


.img-shadow
{
	box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.5);
}


.container-fluid3
{
	position: relative;
	left:5%;
}

.container-fluid4{
	
	min-height: 100vh;
	background:linear-gradient(180deg,#FFA17F,#808080);
	
	
}
 
.fakeimg3
{
	height: 200px;
	width:250px;
	background-color:#fff;
	border-radius: 20px;
	position: relative;
	left:20%;
	border:3px solid red;
	opacity: 80%;
}

.custom-text3
{
	  position: relative;
	  top:20%;
	  font-size:25px;
	  left:1%;
}

 
.fakeimg4
{
	height: 200px;
	width:250px;
	background-color:#fff;
	border-radius: 20px;
	position: relative;
	left:20%;
	border:3px solid yellow;
	opacity: 80%;
}


.custom-text4
{
	  position: relative;
	  top:10%;
	  font-size:25px;
	  left:1%;
}


.fakeimg5
{
	height: 200px;
	width:250px;
	background-color:#fff;
	border-radius: 20px;
	position: relative;
	left:20%;
	border:3px solid purple;
	opacity: 80%;
}


.fakeimg6
{
	height: 200px;
	width:250px;
	background-color:#fff;
	border-radius: 20px;
	position: relative;
	left:20%;
	border:3px solid blue;
	opacity: 80%;
}


.fakeimg7
{
	height: 200px;
	width:250px;
	background-color:#fff;
	border-radius: 20px;
	position: relative;
	left:20%;
	border:3px solid orange;
	opacity: 80%;
}

.fakeimg8
{
	height: 200px;
	width:250px;
	background-color:#fff;
	border-radius: 20px;
	position: relative;
	left:20%;
	border:3px solid black;
	opacity: 80%;
}



